<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
</head>
<body>
    <form action="">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username">
        <br/>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password">
        <br/>
        <textarea name="question" id="question" cols="10" rows="6" placeholder="Comment here"></textarea>
    </form>
</body>
</html>