<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Srinjan Dutta</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div><a href="http://localhost:5000">Home</a></div>
            <div><a href="http://localhost:5000/skills">Skills</a></div>
            <div><a href="#">Contact</a></div>
            <div><a href="#">References</a></div>
        </nav>
    </header>
    <main>
        <section class="mainpic">
            <div class="pic">
                
            </div>
        </section>
        <section class="aboutme">
            <p>
                <span>I am second year student at JGEC, west bengal,</span> <span>India. Am currently pursuing B.tech in CSE,</span> <span>have zero interest in the degree</span><span> more interest in the subject itself</span>
            </p>
            <!-- <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod ipsam error optio ut possimus, perspiciatis reiciendis saepe eligendi sint aut in corporis dolorum totam aperiam culpa adipisci facere earum laboriosam a dolor animi eos! Velit, dolor distinctio similique neque nostrum obcaecati asperiores possimus sit consectetur cupiditate maxime perferendis iure inventore ad, ullam deleniti, sed quod aliquid dignissimos corrupti! Iste impedit laborum eum? Veniam quibusdam excepturi enim quidem dolores eligendi eius sunt voluptas laboriosam nulla dolor vel pariatur fugit eos tenetur praesentium similique aspernatur, unde officiis natus cumque deleniti reiciendis? Dolores earum officia veniam id incidunt perferendis quidem rem aspernatur reiciendis saepe ipsa, quaerat laboriosam, necessitatibus quia distinctio beatae nihil cum, repellendus culpa. Quidem deserunt sit veritatis? Harum modi voluptas maxime, repudiandae dicta ipsum veniam pariatur quam ut, unde assumenda vero magnam eaque soluta iure mollitia, ex fuga tempora aliquam cupiditate voluptatum deserunt minus necessitatibus. Tempore modi iure facilis magnam quaerat, omnis beatae amet reprehenderit sequi possimus non eius at fugiat ea sint nobis deleniti corrupti atque similique odio reiciendis repellendus impedit quo numquam. Consectetur quos, esse earum cum suscipit dicta error debitis similique repellendus exercitationem beatae itaque reiciendis at praesentium blanditiis consequatur. Nam nobis sequi facilis et totam incidunt minus officiis aliquid dolore porro fugiat repellat numquam, error dolor, consectetur in repellendus inventore ullam molestias, ratione eveniet placeat corrupti! Molestiae optio, nisi sapiente sed maxime numquam, dignissimos quasi blanditiis sequi, ex animi ipsa quo ratione excepturi nostrum. Ab dolores voluptas commodi, vero eaque nemo nesciunt repellendus nobis excepturi optio ad corporis aperiam neque voluptatem. Hic alias, nostrum optio molestiae odit fugiat, aliquam consequatur modi voluptas architecto provident voluptates unde non. Fugiat nihil quisquam architecto tempora consequatur quas doloribus hic saepe voluptate amet, distinctio veniam repellat fuga dolor nulla doloremque qui rerum eveniet! Doloremque, ducimus accusamus perferendis quam id natus delectus!
            </p> -->
        </section>
    </main>
</body>
</html>