<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="skills.css">
</head>
<body>
    <header>
        <nav class="navbar">

        </nav>
    </header>
    <main class="card-hover-container">
        <div class="card-hover">
            <h3>
                C++ 
            </h3>
            <div class="des">
                <p>
                    I know pretty desent c++, I am intermediate level at DSA, do competitive programming.
                </p>
            </div>
        </div>
        <div class="card-hover">
            <h3>
                Web dev 
            </h3>
            <div class="des">
                <p>
                    I know html, css, js. Also know node.js, express.js, ejs. My web dev journey is not that long
                    Still a newbie in this field, but hoping to make progress. Also will be leanign Django soon.
                </p>
            </div>
        </div>
        <div class="card-hover">
            <h3>
                Python
            </h3>
            <div class="des">
                <p>
                    I am currently learning python, numpy and pandas. Worked on serveral GUI projects using python
                </p>
            </div>
        </div>
    </main>
</body>
</html>